:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f8fafc;
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1280px;
  margin: 20px auto 100px;
  text-align: center;
}

#title {
  font-size: 2em;
  margin: 0 0 10px;
}

#subtitle {
  font-size: 1.5em;
  margin: 0 0 20px;
}

/* SVG */
svg {
  font: 10px sans-serif;
  fill: #f8fafc;
  text-align: center;
  display: block;
  margin: auto;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

/* GROUP TILE */
.group {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.group:hover {
  stroke: #f8fafc;
  stroke-width: 1px;
}

/* TILE */
.tile {
  fill-opacity: 0.5;
}

.tile-text {
  cursor: default;
  display: block;
  white-space: wrap;
}

/* LEGEND */
#legend {
  display: flex;
}

#legend g {
  display: block;
}

.legend-item {
  fill-opacity: 0.5;
}

/* TOOLTIP */

#tooltip {
  position: absolute;
  text-align: left;
  padding: 5px;
  font: 12px sans-serif;
  color: #f8fafc;
  background: #171717;
  box-shadow: 1px 1px 5px 0px #171717;
  border: solid 1px #f8fafc;
  border-radius: 3px;
  pointer-events: none;
  min-width: 100px;
}
